[submodule "vim/bundle/vim-ruby-debugger"]
	path = vim/bundle/vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/textile"]
	path = vim/bundle/textile
	url = git://github.com/timcharper/textile.vim.git
