{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install ripgrep
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install bat fish fd fzf gh hexyl lsd nvim procs ripgrep tmux fisher font-meslo-lg-nerd-font

{{ end -}}
